/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  width: 70%;
  margin: 0 auto;
}

header {
  padding: 20px;
  color: #333;
  background: #ccc;
}

section {
  background-color: green;
  margin: 20px 0 20px 0;
  padding: 20px 30px 20px 30px;
  overflow: auto;
}

#left {
  width: 33.3%;
  background-color: blue;
  float: left;
}

#middle {
  width: 33.3%;
  background-color: brown;
  float: left;
}

#right {
  width: 33.3%;
  background-color: magenta;
  float: left;
}

#full {
  clear: both;
  display: block; 
  background-color: blueviolet;
}

#division {
  background-color: purple;
  padding: 20px 30px 20px 30px;
  margin-top: 20px;
}

aside {
  background-color: gray;
  height: 200px;
  width: 30%;
  padding: 20px;
  float: left;
  margin-left: 30px;
}

footer {
  background-color: cyan;
  width: 100%;
  padding: 20px 30px 20px 30px;
}
